<!doctype html>
<html lang="en">
  <head>
    <title>Track My Traffic</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
		<div class="container">
		<!--Header and Navbar-->
		<h1 id = 'Home'>Track My Traffic</h1>
		<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			  <a class="nav-item nav-link active" href="#Home">Home <span class="sr-only">(current)</span></a>
			  <a class="nav-item nav-link" href="#Weather">Weather</a>
			  <a class="nav-item nav-link" href="#Traffic">Traffic</a>
			  <a class="nav-item nav-link" href="#Incidents">Incidents</a> 
			</div>
		  </div>
		</nav>
		<!--Main Content-->
		<div id = "Location">
			<h2>Location Information</h2>
			<input id = "locbutt" type="button" value="Use Current Location" class="btn btn-primary" name="getLoc" onclick="getLocation()"/><b id = "warning"></b><strong id = "locDesc"></strong><span id = "cord">   Current coordinates: <b id = "lat" value = {{lat}}>{{lat}}</b>, <b id = "lon" value = {{lng}}>{{lng}}</b></span>
			<p></p>
			<script>
				function getLocation(){
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(fillPosition);
					}else{
						alert("Geolocation not supported");
					}
				}
				
				function fillPosition(position){
					var lat = document.getElementById("lat").innerHTML = position.coords.latitude;
					var lon = document.getElementById("lon").innerHTML = position.coords.longitude;
					window.location.replace('https://trackmytraffic-1512998385287.appspot.com/?lat=' + position.coords.latitude + '&lng=' + position.coords.longitude);
				}

			</script>
		<form class="form-inline">
		  <div class="form-group mx-sm-3">
			<label for="inputPassword2" class="sr-only">Latitude</label>
			<input type="text" class="form-control" id="customlat" placeholder="47.657773">
		  </div>
		  <div class="form-group mx-sm-3">
			<label for="inputPassword2" class="sr-only">Longitude</label>
			<input type="text" class="form-control" id="customlng" placeholder="-122.338457">
		  </div>
		  <input type="button" value="Submit" class="btn btn-primary" onclick = "goto()"></button>
		</form>
		<script>
		function goto(){
			var lat = document.getElementById("customlat").value;
			var lng = document.getElementById("customlng").value;
			console.log(lat);
			var mylatreg = new RegExp("^-?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$");
			var mylngreg = new RegExp("^-?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[1-7][0-9])(?:(?:\.[0-9]{1,6})?))$");
			if(!mylatreg.test(lat)){
				document.getElementById("customlat").style = "border: 2px solid red;";
			}else if(!mylngreg.test(lng)){
				document.getElementById("customlng").style = "border: 2px solid red;";
			} else {
				window.location.replace('https://trackmytraffic-1512998385287.appspot.com/?lat=' + lat + '&lng=' + lng);
			}
		}
		</script>
		</div>
		<div><p></p></div>
		<div id = "Weather">
			<h2>Weather</h2>
			{% for city in weather %}
				<strong>You are currently in the vicinity of {{city}}</strong>
				<table class="table table-bordered">
				  <thead>
					<tr>
					  <th scope="col">RIGHT NOW</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">Weather</th>
					  <td>{{weather[city]['weather']}}</td>
					</tr>
					<tr>
					  <th scope="row">Temp</th>
					  <td>{{weather[city]['temp']}}</td>
					</tr>
					<tr>
					  <th scope="row">Feels Like</th>
					  <td>{{weather[city]['feelslike']}}</td>
					</tr>
					<tr>
					  <th scope="row">Wind</th>
					  <td>{{weather[city]['wind']}}</td>
					</tr>
				  </tbody>
				</table>
			{% endfor %}
		</div>
		<div><p></p></div>
		<div id = "Traffic">
			<h2>Traffic</h2>
			<p>Currently, the roads in your area are <strong>{{scoreStr}}</strong>.</p>
			 <div id="map"></div>
			<script>
			  function initMap() {
				var current = new google.maps.LatLng(document.getElementById("lat").innerHTML, document.getElementById("lon").innerHTML);
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 12,
				  center: current
				});
				
				var trafficLayer = new google.maps.TrafficLayer();
				trafficLayer.setMap(map);
				
				var me = new google.maps.Marker({
				  position: current,
				  map: map
				});
				//console.log(document.getElementById("lat").innerHTML);
				//console.log(document.getElementById("lon").innerHTML);
				map.addListener('click',function(){
					window.setTimeout(function() {
					  map.panTo(me.getPosition());
					}, 2000);
				});
				var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
				{% if incidents is not none %}
					{% for incident in incidents %}
						//console.log('{{incident}}');
						var marker = new google.maps.Marker({
						position: new google.maps.LatLng({{incident}}),
						map: map,
						icon: image
					});
				{% endfor %}
				{% endif %}
				
				{% if bincidents is not none %}
					{% for incident in bincidents %}
						{% set i = incident[0].index(',') %}
						{% set j = incident[1].index(',') %}
						var coord = [{lat: {{incident[0][0:i]}}, lng: {{incident[0][i+1:]}}},{lat: {{incident[1][0:j]}}, lng: {{incident[1][j+1:]}}}]
						var poly = new google.maps.Polyline({
						  path: coord,
						  geodesic: true,
						  strokeColor: '#ff00ff',
						  strokeOpacity: 0.6,
						  strokeWeight: 4
						});
					poly.setMap(map);
				{% endfor %}
				{% endif %}
			  }
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key={{mapKey}}&callback=initMap">
			</script>
		</div>
		<div><p></p></div>
		<div id = "Incidents">
			<h2>Incidents</h2>
			<h3>Mapquest</h3>
			<table class="table table-sm table-light">
			  <thead>
				<tr>
				  <th scope="col">Description</th>
				  <th scope="col">Impact</th>
				  <th scope="col">Severity</th>
				  <th scope="col">Coordinates</th>
				</tr>
			  </thead>
			  <tbody>
			  {% if mapquest is not none %}
				{% for incident in mapquest %}
					<tr>
						<td>{{incident}}</td>
							{% for info in mapquest[incident] %}
							<td>{{mapquest[incident][info]}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			  {% endif %}
			  </tbody>
			</table>
			<h3>Bing</h3>
			<table class="table table-sm table-light">
			  <thead>
				<tr>
				  <th scope="col">Description</th>
				  <th scope="col">Start</th>
				  <th scope="col">Severity</th>
				  <th scope="col">End</th>
				  <th scope="col">Closed</th>
				</tr>
			  </thead>
			  <tbody>
			  {% if bing is not none %}
				{% for incident in bing %}
					<tr>
						<td>{{incident}}</td>
							{% for info in bing[incident] %}
							<td>{{bing[incident][info]}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			  {% endif %}
			  </tbody>
			</table>
			
		</div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>