<!doctype html>
<html lang="en">
  <head>
    <title>Track My Traffic</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
		<div class="container">
		<!--Header and Navbar-->
		<h1>Track My Traffic</h1>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			  <a class="nav-item nav-link active" href="#Home">Home <span class="sr-only">(current)</span></a>
			  <a class="nav-item nav-link" href="#Traffic">Traffic</a>
			  <a class="nav-item nav-link" href="#Incidents">Incidents</a>
			  <a class="nav-item nav-link" href="#">Weather</a>
			</div>
		  </div>
		</nav>
		<!--Main Content-->
		<div id = "Home">
			<h2>Location Information</h2>
			<input type="button" value="Use current Location" name="getLoc" onclick="getLocation()"/>
			<strong id = "locDesc"></strong>
			<p id = "cord">
				Coordinates: <b id = "lat">Location Unknown: Please press button to find current location.</b>, <b id = "lon"></b>
			</p>
			<p>{{locationInfo}}</p>
			<script>
				function getLocation(){
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(fillPosition);
					}else{
						alert("Geolocation not supported");
					}
				}
				
				function fillPosition(position){
					var lat = document.getElementById("lat").innerHTML = position.coords.latitude;
					var lon = document.getElementById("lon").innerHTML = position.coords.longitude;
				}
			</script>
		</div>
		<div id = "Traffic">
			<h2>Traffic</h2>
			
			
		</div>
		<div id = "Incidents">
			<h2>Incidents</h2>
			<table class="table table-sm table-light">
			  <thead>
				<tr>
				  <th scope="col">Description</th>
				  <th scope="col">Coordinates</th>
				  <th scope="col">Severity</th>
				  <th scope="col">Impact</th>
				</tr>
			  </thead>
			  <tbody>
				{% for incident in mapquest %}
					<tr>
						<td>{{incident}}</td>
							{% for info in mapquest[incident] %}
							<td>{{mapquest[incident][info]}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			  </tbody>
			</table>
			
		</div>
		<div id = "Weather">
			<h2>Weather</h2>
		</div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>